* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fafafa;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, #2739e0);
}
.input__control{
  background:  rgb(20, 20, 24) ;
}
.navbar__container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 60px;
  color: #fff;
}
.navbar__logo {
  flex: 1;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: unset;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 15;
}
.navbar__links {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.navbar__links li {
  list-style-type: none;
}
.navbar__btn {
  text-decoration: none;
  height: 35px;
  border: none;
  background: #e62a08;
  color: #fff;
  padding: 0 10px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.navbar__img {
  width: 35px;
  height: 35px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.navbar__img img {
  width: 100%;
  height: 100%;
}
.messages {
  width: 1200px;
  max-width: 1200px;
  position: fixed;
  left: 0;
  right: 0;
  background:  rgb(20, 20, 24);
  height: calc(100vh - 120px);
  margin: 60px auto;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
 
}
.why{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: 20px;
  font-size: 15px;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(transparent, #03a3ff );
  border-radius: 6px;
}

::-webkit-scrollbar-thumb{
  position: fixed;
}

.input__form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0 auto;

}
.input__control {
  background:  rgb(20, 20, 24);;
  width: 100%;
  height: 60px;
  border: 1px solid #efefef;
  outline: none;
  padding: 0 15px;
  color: #fff;
}
.messages__other {
  display: flex;
  color: #fff;
}
.messages__other-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.messages__other-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.messages__other-msg {
  width: 400px;
  padding-left: 10px;
  margin-top: 7px;
}
.messages__other-msg p {
  display: inline-block;
  background: rgb(46, 46, 48);
  padding: 10px;
  font-size: 14px;
  margin-top: 7px;
  border-radius: 40px;
  color: #fff;
}
.messages__other-msg span {
  display: block;
  text-transform: capitalize;
}
.messages__my {
  display: flex;
  justify-content: flex-end;
}
.messages__my-p {
  width: 400px;
  text-align: right;
  margin-top: 7px;
}
.messages__my-p p {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  background: #2739e0;
  color: #fff;
  border-radius: 40px;
}
.welcome {
  background: #fff;
  width: 1200px;
  margin: 90px auto;
  padding: 20px;
}
.welcome h1 {
  margin-bottom: 15px;
}

@media (max-width: 765px) {
  .navbar__container {
    width: 500px;
    max-width: 500px;
    padding: 0 20px;
  }
  .messages {
    width: 100%;
  }
}

@media only screen and (max-device-width: 480px) {

  .navbar {
    
    position: fixed;
    float: none;
    width: 100%;
  }
  .navbar__links{
    position: ;
    padding-right: 120px;
  }

  .welcome{
    width: auto;
    text-align: center;


  }
  .thnx{
    text-align: center;
    font-family: serif;
  }
}